<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#">Fotaza</a>
  <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar-nav">
    <% if (user_id) { %>
      
      <!-- User is authenticated -->
      <div class="nav-item text-nowrap d-flex">
        <div class="dropdown dropstart" >
          <a class="nav-link px-4 dropdown-toggle" href="#" id="notificationDropdown" data-bs-toggle="dropdown" aria-expanded="false" >
            <i class="fas fa-bell"></i>
          </a>

            <div class="dropdown-menu dropdown-menu-notification" aria-labelledby="dropdownMenuLink">
              <% if (notifications && notifications.length > 0) { %>
                  <% notifications.forEach(notification => { %>
                      <li><a class="dropdown-item" href="#">El usuario <b><%= notification.InterestedUser.usuario %></b> está interesado en tu post. Por favor, chequea tu email!</a></li>
                  <% }); %>
              <% } else { %>
                  <li><a class="dropdown-item" href="#">No notifications</a></li>
              <% } %>
          </div>

        </div>
        <a class="nav-link px-4" href="/auth/logout">Salir</a>
      </div>
    <% } else { %>
      <!-- User is not authenticated -->
      <div class="nav-item text-nowrap d-flex">
        <a class="nav-link px-4" href="/auth/register">Registarme</a>
        <a class="nav-link px-4" href="/auth/login">Ingresar</a>
      </div>
    <% } %>
  </div>
</header>

      <div class="container-fluid">
        <div class="row">
          <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-dark sidebar collapse">
            <div class="position-sticky pt-3">
              <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link text-white" aria-current="page" href="/">
                    <i class="fa fa-home pe-1"></i>
                    <span data-feather="home"></span>
                    Inicio
                  </a>
                </li>
                <% if (user_id) { %>
                  <li class="nav-item">
                    <a class="nav-link text-white" href="/users/profile/<%= user_id %>">
                      <i class="fa fa-user pe-1"></i>
                      <span data-feather="file"></span>
                      Perfil
                    </a>
                  </li>
                  <li class="nav-item dropdown" v-if="isAuthenticated">
                    <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fa fa-gear pe-1"></i>
                      <span data-feather="file"></span>
                      Configuración
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="/users/edit/<%= user_id %>">Usuario</a>
                      <a class="dropdown-item" href="#">Notificaciones</a>
                      <!-- Add more options as needed -->
                    </div>
                  </li>
                <% } %>
              </ul>
            </div>
            <script>
              const user_id = Number("<%= user_id %>") || null
            </script>
          </nav>
        </div>
      </div>
      
      <style>
        /* Position the dropdown menu above the navbar */
        .navbar-nav .dropdown-menu {
          position: absolute;
          min-width: auto; /* Let the width adjust dynamically based on content */
          max-width: none; /* Allow the width to exceed the viewport width */       
        }
      </style>