<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#">Fotaza</a>
  <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar-nav">
    <div class="nav-item text-nowrap">
      <a class="nav-link px-4" href="#">Salir</a>
    </div>
  </div>
</header>

      <div class="container-fluid">
        <div class="row">
          <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-dark sidebar collapse">
            <div class="position-sticky pt-3">
              <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link text-white" aria-current="page" href="#">
                    <i class="fa fa-home pe-1"></i>
                    <span data-feather="home"></span>
                    Inicio
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-white" href="#">
                    <i class="fa fa-user pe-1"></i>
                    <span data-feather="file"></span>
                    Perfil
                  </a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-gear pe-1"></i>
                    <span data-feather="file"></span>
                    Configuración
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/users/edit/13">Usuario</a>
                    <a class="dropdown-item" href="#">Notificaciones</a>
                    <!-- Add more options as needed -->
                  </div>
                </li>
              </ul>
            </div>
          </nav>
      </div>
    </div>
