<!doctype html>
<html lang="en">
<%- include('partials/head') %>
<body>

  <%- include('partials/navbar') %>

        <div id="app">
          <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
              <h1 class="h2">Inicio</h1>
              <div class="btn-toolbar mb-2 mb-md-0">
                <div class="btn-group">
                  <button v-if="isAuthenticated" type="button" class="btn btn-sm btn-outline-primary" @click="newPost()">Nuevo Post</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    <span data-feather="calendar"></span>
                    Fecha
                  </button>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#" @click="sortBy('recent')">Más recientes</a></li>
                    <li><a class="dropdown-item" href="#" @click="sortBy('old')">Más antiguos</a></li>
                  </ul>
                  
                  <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    <span data-feather="calendar"></span>
                    Categoria
                  </button>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#" @click="filterByCategory('all')">Todas las categorías</a></li>
                    <li><a class="dropdown-item" href="#" @click="filterByCategory(1)">Memes</a></li>
                    <li><a class="dropdown-item" href="#" @click="filterByCategory(2)">Comida</a></li>
                  </ul>
                </div>
              </div>
            </div>

            <!-- New Post -->
            <div class="card mb-3" v-if="estado == estados.newPost">
              <div class="card-body">
                  <h5 class="card-title">Nuevo Post</h5>
                <form @submit.prevent="createPost()" enctype="multipart/form-data">
                  <div class="mb-3">
                    <label for="postTitle" class="form-label">Título</label>
                    <input type="text" class="form-control" id="postTitle" placeholder="Enter title" v-model="post.title">
                  </div>
                  <div class="mb-3">
                    <label for="postDescription" class="form-label">Descripcion</label>
                    <textarea class="form-control" id="postDescription" rows="3" placeholder="Enter description" v-model="post.description"></textarea>
                  </div>
                  <div class="mb-3">
                    <label for="image" class="form-label">Imágen</label>
                    <input type="file" name="image" ref="image" accept="image/*" @change="subirImagen" class="form-control" placeholder="Subir imágen" id="image">
                  </div>
                  <div class="row form-row">
                    <div class="col-md-3">
                      <div class="form-group">
                        <div class="mb-3">
                          <label for="postRights" class="form-label">Derechos</label>
                          <select name="postRights" id="postRights" class="form-control" v-model="post.rights">
                            <option value="" disabled>Seleccionar Derechos</option>
                            <option value="0">Público</option>
                            <option value="1">Protegido</option>
                          </select>
                        </div>
                      </div>                      
                    </div>
                    <div class="col-md-3">
                      <div class="form-group">
                        <div>
                          <label for="postCategory" class="form-label">Categoría</label>
                          <select name="postCategory" id="postCategory"  class="form-control" v-model="post.categoria_id">
                            <option value="0" disabled>Seleccionar Categoria</option>
                            <option v-for="category in categories" :value="category.cat_id">
                              {{ category.cat_nombre }}
                            </option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="form-group">
                          <label for="watermark">Agrega tu marca de agua:</label>
                          <input :disabled="post.rights == 0" type="text" class="form-control" id="watermark" placeholder="Ej: @user_name" v-model="post.watermark">
                        </div>                     
                    </div>
                    <div class="col-md-3">
                      <div class="form-group">
                          <label for="tags">Selecciona hasta 3 tags:</label>
                          <div v-for="tag in tags" :key="tag.tag_id">
                            <input
                              type="checkbox"
                              :id="'tag-' + tag.tag_id"
                              :value="tag.tag_id"
                              v-model="selectedTags"
                              @change="handleTagSelection"
                            />
                            <label :for="'tag-' + tag.tag_id">{{ tag.tag_nombre }}</label>
                          </div>
                        </div>                     
                      </div>

                  </div>
                  <button type="button" class="btn btn-secondary" @click="cancelPost()">Cancelar</button>
                  <button type="submit" class="btn btn-primary">Add Post</button>
                </form>
              </div>
            </div>

            <!-- Posts -->
            <div class="posts-container">
              <div v-for="post in posts" ref="postElements" class="mb-4">
                <div class="card">

                  <!-- Image -->
                  <div class="card-header d-flex align-items-center">
                    <div class="d-flex flex-column">
                      <a class="card-profile d-flex align-items-center text-decoration-none text-dark" :href=`/users/profile/${post.Usuario.user_id}`>
                        <img :src="post.Usuario.avatar" class="rounded-circle" alt="">
                        {{ post.Usuario.usuario }}
                      </a>
                      <h5 class="mt-1">{{ post.title }}</h5>
                    </div>
                    <div class="ms-auto d-flex">
                      <button class="btn btn-outline-secondary" v-if="post.Usuario.user_id != loggedUser_id" @click="showInterest(post.post_id, post.user_id)">Me interesa!</button>
                      <div class="dropdown" v-if="isAuthenticated && post.Usuario.user_id == loggedUser_id">
                        <button
                          class="btn btn-light"
                          type="button"
                          id="dropdownMenuButton"
                          data-bs-toggle="dropdown"
                          aria-haspopup="true"
                          aria-expanded="false"
                        >
                          <!-- Three vertical dots icon -->
                          <i class="fa-solid fa-ellipsis-vertical"></i>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          <a class="dropdown-item" href="#" @click="abrirModalEditar(post.post_id)">Editar</a>
                          <a class="dropdown-item" href="" @click="abrirModalBorrar(post.post_id)">Eliminar</a>
                        </div>
                      </div>
                    </div>
                  </div>
              
                  <img class="img-fluid" :src="post.image" alt="Post Image">

                  <div class="card-body">
                    <!-- Description -->
                    <p class="card-text mb-1">{{ post.description }}</p>

                    <!-- Author and Date -->
                    <p class="card-text mb-1">By {{ post.autor }} on {{ post.creation_date }}</p>

                    <!-- Likes -->
                    <div class="d-flex"> <!-- check if theyre authenticated -->
                      <form class="actions_rating" :id="'postRatingForm-' + post.post_id" @change.prevent="ratePost(post.post_id)">
                        <p class="mb-0">
                          <input type="radio" :id="`${post.post_id}-1`" name="rating" value="5" v-model="post.likes" @input="post.likes = 5">
                          <label :for="`${post.post_id}-1`">★</label>
                          <input type="radio" :id="`${post.post_id}-2`" name="rating" value="4" v-model="post.likes" @input="post.likes = 4">
                          <label :for="`${post.post_id}-2`">★</label>
                          <input type="radio" :id="`${post.post_id}-3`" name="rating" value="3" v-model="post.likes" @input="post.likes = 3">
                          <label :for="`${post.post_id}-3`">★</label>
                          <input type="radio" :id="`${post.post_id}-4`" name="rating" value="2" v-model="post.likes" @input="post.likes = 2">
                          <label :for="`${post.post_id}-4`">★</label>
                          <input type="radio" :id="`${post.post_id}-5`" name="rating" value="1" v-model="post.likes" @input="post.likes = 1">
                          <label :for="`${post.post_id}-5`">★</label>
                        </p>
                      </form>
                      <div class="actions_rating_average">{{ post.average_likes ? post.average_likes + ' (promedio)' : '' }}</div>
                    </div>
                    <p class="card-text" v-if="post && post.rights === 1">Derechos de autor: copyright</p>
                    <p class="card-text" v-if="post && post.rights === 0">Derechos de autor: copyleft (uso libre) </p>                    
                  </div>
              
                  <div class="card-footer">
                    <small class="text-muted">Category: {{post.Categorias.cat_nombre}} </small>
                    <!-- Tags -->
                    <div class="d-flex align-items-center">
                      <small class="text-muted">Tags: </small>
                      <div v-for="tag in post.Tags">
                        <small class="text-muted ms-1"> {{tag.tag_nombre }} </small>
                      </div>
                    </div>
                    <div>
                      <h6>Comentarios</h6>
                      <div v-for="comment in post.Foto_comentarios" :key="comment.comentario_id">
                        <p class="mb-1">
                          {{ comment.Usuario.usuario }}: {{ comment.comentario }}
                          <!-- Add Delete Button for Comments -->
                          <button class="delete-comment" v-if="isAuthenticated && comment.Usuario.user_id == loggedUser_id || isAuthenticated && comment.Usuario.user_id == post.Usuario.user_id" @click="deleteComment(comment.comentario_id)"><i class="fa-solid fa-xmark"></i></button>
                        </p>
                      </div>
              
                      <!-- Add Comment Form -->
                      <form v-if="isAuthenticated" @submit.prevent="addComment(post.post_id)">
                        <div class="mb-3">
                          <label for="commentInput" class="form-label">Añadir comentario:</label>
                          <input type="text" class="form-control" id="commentInput" v-model="newComment">
                        </div>
                        <button type="submit" class="btn btn-primary">Comentar</button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
          </main>

          <!-- Modal Borrar-->
          <div class="modal fade" id="deleteConfirmationModal">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="deleteConfirmationModalLabel">Confirmar eliminación</h5>
                </div>
                <div class="modal-body">
                  <p>Estás seguro de borrar este post?</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" @click="cerrarModalBorrar">Cancelar</button>
                  <button type="button" class="btn btn-danger" @click="deletePost">Borrar</button>
                </div>
              </div>
            </div>
          </div>

          <!-- Modal Edit-->
          <div class="modal fade" id="editPostModal" v-if="postToEdit">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="editPostModalLabel">Editar Post</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <div class="container">
                        <form @submit.prevent="editPost()" enctype="multipart/form-data">
                          <div class="mb-3">
                            <label for="postTitleEdit" class="form-label">Título</label>
                            <input type="text" class="form-control" id="postTitleEdit" placeholder="Enter title" :value="postToEdit.title" v-model="postToEdit.title">
                          </div>
                          <div class="mb-3">
                            <label for="postDescriptionEdit" class="form-label">Descripcion</label>
                            <textarea class="form-control" id="postDescriptionEdit" rows="3" placeholder="Enter description" v-model="postToEdit.description"></textarea>
                          </div>
                          <div class="row form-row">
                            <div class="col-md-4">
                              <div class="form-group">
                                <div class="mb-3">
                                  <label for="postRightsEdit" class="form-label">Derechos</label>
                                  <select name="postRightsEdit" id="postRightsEdit" class="form-control" v-model="postToEdit.rights">
                                    <option value="" disabled>Seleccionar Derechos</option>
                                    <option value="0">Público</option>
                                    <option value="1">Protegido</option>
                                  </select>
                                </div>
                              </div>                      
                            </div>   
                            <div class="col-md-4">
                              <div class="form-group">
                                <div>
                                  <label for="postCategoryEdit" class="form-label">Categoría</label>
                                  <select name="postCategoryEdit" id="postCategoryEdit"  class="form-control" v-model="postToEdit.categoria_id">
                                    <option value="0" disabled>Seleccionar Categoría</option>
                                    <option v-for="category in categories" :value="category.cat_id" v-bind:selected="category.cat_id === postToEdit.categoria_id">
                                      {{ category.cat_nombre }}
                                    </option>
                                  </select>
                                </div>
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="form-group">
                                <div class="mb-3">
                                  <label class="form-label">Tags</label>
                                  <div v-for="tag in tags" :key="tag.tag_id">
                                    <div class="form-check">
                                      <input
                                      type="checkbox"
                                      class="form-check-input"
                                      :id="`tagCheckbox_${tag.tag_id}`"
                                      :value="tag.tag_id"
                                      v-model="selectedTags"
                                      />
                                      <label class="form-check-label" :for="`tagCheckbox_${tag.tag_id}`">{{ tag.tag_nombre }}</label>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </form>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                  <button type="button" class="btn btn-primary" @click="editPost">Guardar cambios</button>
                </div>
              </div>
            </div>
          </div>

          <!-- Modal Interested -->
          <div class="modal fade" id="interestedModal" tabindex="-1" aria-labelledby="interestedModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="emailModalLabel">¡Contacta al creador!</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <p>Puedes contactar al creador por este medio: <span id="postOwnerEmail"> <b> {{ postOwnerEmail }} </b> </span></p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                  <button type="button" class="btn btn-primary" @click="copyEmail">Copiar</button>
                </div>
              </div>
            </div>
          </div>

        </div>

      <script src="js/bootstrap.bundle.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js" integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE" crossorigin="anonymous"></script><script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js" integrity="sha384-zNy6FEbO50N+Cg5wap8IKA4M/ZnLJgzc6w2NqACZaK0u0FXfOWRRJOnQtpZun8ha" crossorigin="anonymous"></script><script src="dashboard.js"></script>
</body>
</html>

